<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'
    />
    <title>Chat</title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js'></script>
  </head>

  <body>
    <div class='container'>
      <h1>Socket.io Chat</h1>
      <p>Your Nickname: <span id='random-animal-name'></span></p>
      <div class='rooms'>
        <div class='room' id='room1'>
          <h2>Room 1</h2>
          {{! <div class='button-container'>
            <button onclick="joinRoom('room1')">Join</button>
            <button onclick="exitRoom('room1')">Exit</button>
          </div> }}
          <div class='users' id='room1Users'></div>
          <div class='chat-container' id='room1-chat-container'>
            <ul class='chat-list' id='room1-chat-list'></ul>
          </div>
          <div class='chat-input'>
            <input type='text' id='room1-messageInput' placeholder='Type a message...' />
            <button onclick="sendRoomMessage('room1')">Send</button>
          </div>
        </div>

      </div>
    </div>
    <script type='text/javascript' src='/javascripts/chat.js'></script>
  </body>
</html>