<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Friend_Create</title>
    <link rel='stylesheet' href='/stylesheets/friend_create.css' />
  </head>

  <body>
    <a href='/' id='home'>Home</a>
    <br />
    별명 :
    <input type='text' id='nickname' />
    <button>친구 찾기</button>
    <br />
    <button>친구 맺기</button>
    <script type='text/javascript' src='/javascripts/friedn_create.js'></script>
  </body>
</html>