<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="/stylesheets/party.css" />
</head>
<body>
  <a href="/" id="home">Home</a>
  <a href="/create_friend" id="create_friend">친구 추가하기</a>
  <div>친구 리스트</div>
  <script type="text/javascript" src="/javascripts/party.js"></script>
</body>
</html>