<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Home_UnAuth</title>
  <link rel="stylesheet" href="/stylesheets/home_unauth.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'></script>
  <script
    type='text/javascript'
    src='//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_APP_KEY}}'
  ></script>
</head>

<body>
  <a href="/home_unauth" id="home">Home</a>
  <a href="/signIn" id="sign_in">로그인</a>
  <div id="map" style="width: 500px; height: 500px"></div>
  <script src="/javascripts/axios.interceptor.js"></script>
  <script type="text/javascript" src="/javascripts/home_unauth.js"></script>
</body>
</html>