<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Party_Create</title>
    <link rel='stylesheet' href='/stylesheets/party_create.css' />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'
    ></script>
  </head>

  <body>
    <a href='/' id='home'>Home</a>
    <br />
    파티 이름 :
    <input type='text' id='name' />
    <br />
    친구 :
    <input type='text' id='members' />
    <br />
    <button id='create_party'>파티 만들기</button>
    <script type='text/javascript' src='/javascripts/party_create.js'></script>
  </body>
</html>