<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Party_Create</title>
    <link rel='stylesheet' href='/stylesheets/party_create.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'></script>
  </head>

  <body>
    <a href='/' id='home'>Home</a>
    <br />
    <input type='text' id='name' placeholder='파티명을 입력해 주세요.' />
    <button id='party_create'>파티 만들기</button>
    <div id='friend_list'>친구 리스트</div>
    <script src='/javascripts/axios.interceptor.js'></script>
    <script type='text/javascript' src='/javascripts/party_create.js'></script>
  </body>
</html>