<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'
    />
    <title>Plan_Create</title>
    <link rel='stylesheet' href='/stylesheets/plan_create.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'></script>
    <script
      type='text/javascript'
      src='//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_APP_KEY}}&libraries=services'
    ></script>
  </head>

  <body>
    <div id='header_wrapper'>
      <div id='header_wrapper_left'>
        <a href='/' id='back'>이전</a>
      </div>
      <div id='header_wrapper_center'>
        <a href='/' id='home'>Home</a>
      </div>
      <div id='header_wrapper_right'>
        <a href='/mypage' id='my_page'>내 정보</a>
        <a href='/friend/list' id='friend'>친구</a>
      </div>
    </div>
    <div id='body_wrapper'>
      <div id='body_wrapper_left'>
        <div id='form'>
          <form onsubmit='searchPlaces(); return false;'>
            <input type='text' id='keyword' size='15' placeholder='장소를 입력해 주세요.' />
            <button type='submit' id='search'>검색</button>
          </form>
        </div>
        <div id='map'></div>
      </div>
      <div id='body_wrapper_right'>
        <div id='body_wrapper_right_body'>
          <div id='body_wrapper_right_name'>
            이름 :
            <input type='text' id='name' class='input' placeholder='약속 이름을 입력해 주세요.' />
          </div>
          <div id='body_wrapper_right_place'>
            장소 :
            <input type='text' id='place' class='input' readonly />
          </div>
          <div id='body_wrapper_right_date'>
            날짜 :
            <input type='datetime-local' id='date' class='input' />
          </div>
          <div id='body_wrapper_right_fine'>
            벌금 :
            <input type='number' id='fine' class='input' />
          </div>
        </div>
        <div id='body_wrapper_right_footer'>
          <button id='plan_create'>약속 만들기</button>
        </div>
      </div>
    </div>
    <script src='/javascripts/axios.interceptor.js'></script>
    <script type='text/javascript' src='/javascripts/plan_create.js'></script>
  </body>
</html>