<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Point</title>
  <link rel="stylesheet" href="/stylesheets/point.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>

<body>
  <a href="/" id="home">Home</a>
  <a href="/mypage" id="my_page">내 정보</a>
  <br>
  <input type="number" id="point" placeholder="5000">
  <button id="kakao">카카오페이</button>
  <button id="nhn">신용카드</button>
  <script src="/javascripts/axios.interceptor.js"></script>
  <script type="text/javascript" src="/javascripts/point.js"></script>
</body>
</html>