<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>SignIn</title>
  <link rel="stylesheet" href="/stylesheets/signIn.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js'></script>
</head>

<body>
  <a href="/" id="home">Home</a>
  <br>
  <input type="text" id="email" placeholder="이메일">
  <input type="password" id="password" placeholder="비밀번호">
  <button id="sign_in">로그인</button>
  <br>
  <a href="/auth/google">구글 로그인</a>
  <a href="/auth/naver">네이버 로그인</a>
  <a href="/auth/kakao">카카오 로그인</a>
  <br>
  <button onclick="test2()">dd</button>
  <a href="/signUp" id="sign_up">회원가입</a>
  <script src="/javascripts/axios.interceptor.js"></script>
  <script type="text/javascript" src="/javascripts/signIn.js"></script>
</body>
</html>