.plan_list_info {
  border-top: 1px solid black;
  cursor: pointer;
}

.plan_list_info_name {
  font-size: 15px;
  font-weight: 500;
}

.plan_list_info_place {
  font-size: 12px;
}

.plan_list_info_date {
  font-size: 12px;
}

.plan_list_info_fine {
  font-size: 12px;
}
