* {
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  padding: 10px !important;
  background-color: #727272;
}

#header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: #999999bb;
  border-radius: 15px;
  width: 100%;
  height: 5%;
}

#back {
  cursor: pointer;
}

#header_wrapper a {
  text-decoration: none;
  color: #222;
  font-size: 17px;
  font-weight: 700;
}

#header_wrapper_center {
  flex: 0 0 auto;
  text-align: center;
}

#header_wrapper_right a {
  margin-left: 5px;
}

#body_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  padding: 15px 100px 100px 100px;
}

#body_wrapper_left {
  width: 60%;
  margin-right: 100px;
}

#form {
  position: relative;
  top: 50px;
  left: 5px;
  z-index: 2;
  padding: 10px;
}

#keyword {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  border: 0px;
  border-radius: 10px;
  outline: none;
}

#search {
  font-size: 15px;
  font-weight: 500;
  padding: 3px 10px;
  border: 0px;
  border-radius: 10px;
  background-color: #999999bb;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#body_wrapper_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-top: 70px;
}

#body_wrapper_right_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
}

#body_wrapper_right_name {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#body_wrapper_right_place {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#body_wrapper_right_date {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#body_wrapper_right_fine {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.input {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #e0e0e0;
  font-weight: 500;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 70%;
  outline: none;
}

#body_wrapper_right_footer {
  width: 100%;
}

#plan_create {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
}

.infoWindow_info {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.infoWindow_info_title {
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoWindow_info_address {
  font-size: 13px;
}
